<header class="header">

  <div class="container inner_container">
    <div class="logo"><h2>WELCOME TO ANGULAR</h2></div>
    <nav class="nav">
      <a
        class="linkRoute"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
      >
      |
      <a class="linkRoute" routerLink="/task-1" routerLinkActive="active"
      >Task 1</a
      >
      |
      <a class="linkRoute" routerLink="/task-2" routerLinkActive="active"
      >Task 2</a
      >
      |
      <a class="linkRoute" routerLink="/task-3" routerLinkActive="active"
      >Task 3</a
      >
    </nav>
  </div>

</header>

<router-outlet/>
