<!--/* STYLES */-->

<style>
  .toolbar-title {
    text-transform: uppercase;
  }
</style>

<!--/* STYLES */-->

<header>
  <mat-toolbar color="primary">
    <span class="toolbar-title">Contact's manager app</span>
  </mat-toolbar>
</header>
<section>
  <mat-card-content>
    <app-form (onAddContact)="handleAdd($event)"></app-form>
  </mat-card-content>
  <div style="padding: 20px">
    <app-contact
      [contacts]="contacts"
      (onDeleteContact)="handleDelete($event)"
    ></app-contact>
  </div>
</section>
