/* You can add global styles to this file, and also import other style files */

$bg-color: #f5f5f5;
$text-color: #131313;
$accent-color: #363535;
$border-radius: 8px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $bg-color;
  color: $text-color;
  line-height: 1.5;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
}

input, button {
  font: inherit;
  padding: 10px 16px;
  border-radius: $border-radius;
  border: 1px solid transparent;
  outline: none;
}

input {
  border-color: lighten($bg-color, 10%);
  background: darken($bg-color, 5%);
  color: $text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: $accent-color;
  color: #000;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: darken($accent-color, 10%);
  }
}

h1, h2, h3, h4, h5 {
  color: $accent-color;
}

p {
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

.inner_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

section {
  padding: 100px 0;
}

.linkRoute.active {
  font-weight: 700;
  text-decoration: underline;
  color: #a4a8f6; /* або твій акцентний колір */
}
